@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body , #root {
    background: #171717;
    height: 100vh;
    width: 100vw;
    color: #fff;
    font-family: 'Poppins';
    .body{
        overflow: hidden;
        height: 100%;
        width: 100%;

        header{
            height: 50%;
            width: 100%;
            margin-block-end:10px ;
            .content-logo{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                height: 50%;
                width: 100%;
                font-size: 52px;
                h1{
                    font-weight: bold;
                }
            }
            .content-form{
                height: 50%;
                width: 42.2%;
                margin: auto;
                form {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5%;
                    width: 100%;
                    border-radius: 20px;
                    background-color: #444444;
                }
                legend{
                    margin-bottom: 10px;
                }
                .chakra-input{
                    border: 2px solid #696969;
                }
                input{
                    outline: none;
                }
                .chakra-button{
                    font-size: 32px;
                    font-weight: 300;
                    padding: 4% 3%;
                }
            }
        }
        main {

        
            overflow: auto;
            scrollbar-width: none;
            width: 100%;
            height: 50%;
            div{
                height: 100%;
                width: 40%;
                margin: auto;
                div{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2,50%);
                }
                legend{
                    padding: 0 2.5%;
                    margin-bottom: 5%;
                    font-size: 24px;
                }
                .card-insight{
                    word-wrap: break-word;
                    width: 300px;
                    height: 300px;
                    margin-bottom: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    #text-conteiner , #data-conteiner{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p{
                            display: flex;
                            overflow: hidden;
                            text-wrap: wrap;
                            align-self: center;
                            width: 80%;
                            height: 40%;
                        }
        
                    }


                }
            }
        }
    }

}
